.user_profile
  .user_profile_image
    = image_tag '',class: 'user_profile_image_id'
    .user_profile_name
      test
    .user_profole_email
      test@test.com
  .user_profile_edit_btn
    = link_to '', class: 'btn btn-info'
