.header {
  height: 50px;
  font-size: 1.15em;
  background: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  .header-left {
    float: left;
    line-height: 50px;
    padding-left: 30px;
    .header-logo {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .header-right {
    float: right;
    line-height: 50px;
    padding-right: 30px;
    .nav-tabs {
      border-bottom: 1px solid #ddd;
      li {
        float: left;
        margin-bottom: -1px;
        a {
          margin-right: 2px;
          line-height: 1.42857143;
          border: 1px solid transparent;
          border-radius: 4px 4px 0 0;
        }
      }
    }
    .nav {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      li {
        position: relative;
        display: block;
        a {
          position: relative;
          display: block;
          padding: 10px 15px;
        }
      }
    }
  }
}
.header-logo-link {
  color: #000;
}
